HELP.md
dist/
node_modules/
.vscode/
.gradle/
build/
.DS_Store
*.log
*.tmp
.settings/
.idea/
target/
*.swp
*.swo
.vs/
*.jar
!gradle/wrapper/gradle-wrapper.jar
.gradle-wrapper/
!gradlew
!gradlew.bat
out/
